{% extends 'account/base.html' %}
{% load i18n socialaccount %}

{% block title %}{% trans 'Sign In' %}{% endblock title %}

{% block content %}

<h2>{% trans "Sign In" %}</h2>

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<p>
  {% blocktrans with site.name as site_name %}
  Please sign in using one of the social accounts below:
  {% endblocktrans %}
</p>
<div>
  <ul>
    {% include 'socialaccount/snippets/provider_list.html' with process='login' %}
  </ul>
</div>
{% endif %}

{% endblock content %}
