{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Sign Out' %}{% endblock title %}

{% block content %}

<h2>{% trans 'Sign Out' %}</h2>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"/>
  {% endif %}
  <input type="submit" value="{% trans 'Sign Out' %}" />
</form>

{% endblock %}
