{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Your Profile' %}{% endblock title %}

{% block content %}

<h2>{% trans 'Your Profile' %}</h2>

<div>
  <h3>Account actions:</h3>
  <ul>
    <li><a href="{% url 'account_delete' %}">Delete Account</a></li>
  </ul>
</div>

<div>
  <h2>Your Public Key</h2>
  <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ public_key_form.as_p }}
  <input type="hidden" name="action" value="update_public_key" />
  <input type="submit" value="Update Public Key" />
  </form>
</div>

{% endblock content %}
