{% extends 'timeline/base.html' %}
{% load i18n string_tags %}

{% block title %}{% trans "Timeline: " %} {{ timeline.id }}{% endblock title %}

{% block content %}

<div>
  <h2>Timeline: {{ timeline.id }}, Entry: {{ entry.id }}</h2>
  <ul>
    <li><a href="{% url 'timeline' timeline_id=timeline.id %}">Timeline link</a></li>
    <li>Created: {{ entry.created_at }}</li>
    <li>Mime type: {{ entry.mime_type }}</li>
    {% if entry.previous %}
    <li><a href="{% url 'timeline_entry' timeline_id=timeline.id entry_id=entry.previous.id %}">View previous entry</a></li>
    {% endif %}
    <li>
      Metadata:
      <ul>
        {% for metadata in entry.metadata.all %}
          <li>{{ metadata.key }}: {{ metadata.value }}</li>
        {% endfor %}
      </ul>
    </li>
    <li>
      {% if entry.mime_type|startswith:'image' %}
      <img src="{% url 'timeline_entry_content' timeline_id=timeline.id entry_id=entry.id %}" />
      {% elif entry.mime_type|startswith:'text' %}
      <iframe src="{% url 'timeline_entry_content' timeline_id=timeline.id entry_id=entry.id %}"></iframe>
      {% else %}
      <a href="{% url 'timeline_entry_content' timeline_id=timeline.id entry_id=entry.id %}">Download</a>
      {% endif %}
    </li>
  </ul>
</div>

<div>
  <h2>Create an Access Token</h2>
  <form method="POST" enctype="application/x-www-form-urlencoded">
  {% csrf_token %}
  {{ create_token_form.as_p }}
  <input type="hidden" name="action" value="create_token" />
  <input type="submit" value="Create Token" />
  </form>
</div>

<div>
  <ul>
    {% for token in entry.access_tokens.all %}
    <li>
      {{ token.description }} (ID: {{ token.id }})
      <ul>
        <li>Created at: {{ token.created_at }}</li>
        <li>Secret: {{ token.secret }}</li>
        <li>
          Permissions:
          <ul>
            <li>Read entry: {{ token.permission_read }}</li>
          </ul>
        </li>
        <li>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="token_id" value="{{ token.id }}" />
              <input type="hidden" name="action" value="delete_token" />
              <input type="submit" value="Delete" />
            </form>
        </li>
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
