{% extends 'timeline/base.html' %}
{% load i18n %}

{% block title %}{% trans "Timeline: " %} {{ timeline.id }}{% endblock title %}

{% block content %}

<div>
  <h2>Timeline: {{ timeline.id }}</h2>
  <p>
    {{ timeline.description }}
  </p>
</div>

<div>
  <ul>
    {% for entry in timeline.entries.all %}
    <li>
      Object with MIME {{ entry.mime_type }} created at {{ entry.created_at }}
      <a href="{% url 'timeline_entry' timeline_id=timeline.id entry_id=entry.id %}">View</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h2>Clone Timeline</h2>
  <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ clone_timeline_form.as_p }}
  <input type="hidden" name="action" value="clone_timeline" />
  <input type="submit" value="Clone Timeline" />
  </form>
</div>

<div>
  <h2>Add An Entry</h2>
  <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ create_entry_form.as_p }}
  <input type="hidden" name="action" value="add_entry" />
  <input type="submit" value="Add Entry" />
  </form>
</div>

<div>
  <h2>Create an Access Token</h2>
  <form method="POST" enctype="application/x-www-form-urlencoded">
  {% csrf_token %}
  {{ create_token_form.as_p }}
  <input type="hidden" name="action" value="create_token" />
  <input type="submit" value="Create Token" />
  </form>
</div>

<div>
  <ul>
    {% for token in timeline.access_tokens.all %}
    <li>
      {{ token.description }} (ID: {{ token.id }})
      <ul>
        <li>Created at: {{ token.created_at }}</li>
        <li>Secret: {{ token.secret }}</li>
        <li>
          Permissions:
          <ul>
            <li>Read timeline: {{ token.permission_read }}</li>
            <li>Read entries: {{ token.permission_read_entries }}</li>
            <li>Add entry: {{ token.permission_add_entry }}</li>
          </ul>
        </li>
        <li>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="token_id" value="{{ token.id }}" />
              <input type="hidden" name="action" value="delete_token" />
              <input type="submit" value="Delete" />
            </form>
        </li>
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
