<!DOCTYPE html>
{% load i18n %}
<html>
  <head>
    <title>{% block title %}{% trans 'Chronicle' %}{% endblock title %}</title>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    {% if messages %}
    <div class="messages">
      <h2>Messages:</h2>
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="menu">
      <h2>Menu:</h2>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'account_profile' %}">Your Profile</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="content">
      {% block content %}{% endblock content %}
    </div>

    <div class="footer">
      <a href="https://chronicle.horizon.ac.uk/terms.html">Terms &amp; Conditions</a> |
      <a href="https://chronicle.horizon.ac.uk/terms.html">Privacy Policy</a> |
      <a href="https://chronicle.horizon.ac.uk/terms.html">Cookie Policy</a>
    </div>

  </body>
</html>
