{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Chronicle Timeline Service' %}{% endblock title %}

{% block content %}

<h2>{% trans 'Chronicle Timeline Service' %}</h2>

<div>
  <h3>Your Timelines:</h3>
  <ul>
    {% for timeline in timelines %}
      <li>
        <a href="{% url 'timeline' timeline_id=timeline.id %}">{{ timeline.id }}
        - {{ timeline.short_description }}</a>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete_timeline" />
            <input type="hidden" name="timeline_id" value="{{ timeline.id }}" />
            <input type="submit" value="Delete" />
        </form>
      </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>Create new Timeline:</h3>
  <form method="POST">
    {% csrf_token %}
    {{ create_timeline_form.as_p }}
    <input type="hidden" name="action" value="create_timeline" />
    <input type="submit" value="Create" />
  </form>
</div>

{% endblock content %}
